@charset "UTF-8";


:root {
  --background: #e88a1a;
  --default-font: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
    background-image: url("../img/BearTile400px400px.jpg");
    background-repeat: repeat;
    background-size: 300px;
    background-position: center;
}

.contentWrapperMK {
    /* THIS CHANNGES THE WHOLE HEIGHT OF PAGE */
  height: 1000px;
  display: grid;
  place-items: center;
}

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 125px;
  -webkit-box-shadow: 0px 8px 27px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 27px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 27px 0px rgba(0,0,0,0.75);
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  font-family: var(--default-font);
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logoMK {
    grid-column: 2 / 3;
    margin-top: 10px;
  }

  nav {
    // all: unset;
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
    font-family: var(--default-font);
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}

/* PRODUCT PAGE */

.pageContentMK {
  width: 80%;
  background-color: #d9d9d9;
  height: auto;
  margin-top: 175px;
  margin-bottom: 100px;
  padding: 20px;
  font-family: var(--default-font);
}
.pageContentMK img {
  height: 100%;
  width: 350px;
  float: left;
  margin-right: 20px;
}

.pageContentMK h2{
    font-size: 30px;
}

.pageContentMK h5{
    font-size: 20px;
}

.pageContentMK p{
    font-size: 14px;
}

.addToCartMK {
    margin-left: 20px;
	background-color:#cf3030;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	/* border:1px solid #18ab29; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.addToCartMK:hover {
	background-color:#e88a1a;
}
.addToCartMK:active {
	position:relative;
	top:1px;
}



/* FOOTER STARTS HERE */

.footerMK {
    background: rgba(0, 0, 0, .75);
    height: 400px;
    width: 100%;
}

.footerMK h2{
    padding: 20px 0 0 0;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: chippewa-falls, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.footerMK p{
    font-family: var(--default-font);
    color: white;
    text-align: center;
    font-size: 20px;
}

.SocialMediaMK ul{
    list-style-type:none;
    display:flex;
    justify-content: center;
}

.SocialMediaMK ul li{
    display: list-item;
    padding: 5px 10px;
    color:white;
    margin: 20px;
    padding: 0;
    font-size: 30px;
}

.footerMK h5{
    font-family: var(--default-font);
    color: white;
    text-align: center;
    font-size: 13px;
}


/* HOMEPAGE CSS */

div{
    width:100%;
    float:left;
    display: block;
}

.HomepageHolder_AS{
    margin-top: 700px;
    width: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: white;
}

.HomepageHolder_AS h1{
    color: #d9d9d9;
    font-size: 75px;
    font-family: chippewa-falls, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;
}

.HomepageHolder2_AS {
    width: 100%;
    padding: 0 2.6%;
    background-position: center;
}

.Homepage_Hero_AS{
    width: 100%;
    margin-top: 200px;
    margin-bottom: 20px;
}

.Homepage_Hero_AS img{
    max-width: 100%;
}

.Homepage_Hero_AS h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 8px #000000;
    
}

.Homepage_Box_AS {
    width: 28%;
    margin: 10px 2.6% 50px 2.6%;
    padding: 180px 0;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-top: 6px #d9d9d9 solid;
    border-left: 6px #d9d9d9 solid;
    border-right: 6px #d9d9d9 solid;
    border-bottom: 30px #d9d9d9 solid;
}
 .Homepage_Box_AS p {
     position: absolute;
     bottom: -40px;
     color: black;
     padding-left: 10px;
     font-family: var(--default-font);
 }

.Homepage_Left_1_AS {
    background-image: url('../img/Beer2.jpg');
}

.Homepage_Middle_1_AS {
    background-image: url('../img/Beer5.jpg');
}

.Homepage_Right_1_AS {
    background-image: url('../img/Beer4.jpg');
}

.Homepage_Left_2_AS {
    background-image: url('../img/Beer1.jpg');
}

.Homepage_Middle_2_AS {
    background-image: url('../img/Beer3.jpg');
}

.Homepage_Right_2_AS {
    background-image: url('../img/Beer6.jpg');
}

.Homepage_OverlayAS {
    width: 75%;
    margin: 0;
    background-color: #cf3030;
    position: absolute;
    bottom:0;
}
.Homepage_OverlayAS:hover{
    background-color: #b41d1d;
}

.HomepageHolder2_AS h2 {
    color: #d9d9d9;
    font-size: 22px;
    font-family: sans-serif;
    margin-left: 5%;
    font-family: var(--default-font);
    margin: 0;
    padding: 15px;
}

.Homepage_Holder2_AS h2:hover {
    cursor: pointer;
}



@media(max-width: 1310px){
    .Homepage_OverlayAS{
        width: 90%;
    }

@media(max-width: 1100px){
    .Homepage_Box_AS {
        width: 28%;
        margin: 10px 2.6% 50px 2.6%;
        padding: 160px 0;
        height: 300px;
}

    .Homepage_Holder2_AS h2 {
        font-size: 17px;
    }

@media(max-width: 1000px){
    .Homepage_Box_AS {
        width: 46%;
        margin: 10px 2% 30px 2%;
        padding: 160px 0;
        height: 300px;
}
    .Homepage_OverlayAS{
    width: 70%;
    }

@media(max-width: 695px){
    .Homepage_Box_AS {
        width: 96%;
        margin: 10px 2% 30px 2%;
        padding: 160px 0;
        height: 300px;
    }

    .Homepage_OverlayAS {
        width: 50%;
        }

@media(max-width: 490px){
    .Homepage_OverlayAS {
        width: 60%;
        }
}

}/* End Media Query */
